*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --orange: rgb(255, 154, 40);
    --blue: rgb(121, 174, 224);
}

::-webkit-scrollbar{
    height: 8px;
}

::-webkit-scrollbar-thumb{
    background: var(--orange);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--blue);
}

[data-anime] {
    opacity: 0;
    transition: 3s;
}
  
[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}
  
[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}
  
[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}
  
[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

html{
    font-size: 10px;
}

menu{
    background: white;
    height: 10vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: fixed;
    top: 0; right: 0;
    z-index: 9999;
}

menu .logo{
    font-size: 4em;
    color: rgb(124, 124, 123);
}

#menu-click{
    width: 50px;
    cursor: pointer;
}

.menu-hidden{
    display:none;
}

.menu-nav{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 10vh;
    left: 0;
}

.menu-nav ul{
    display: flex;
    flex-direction: column;
}

.menu-nav ul li{
    padding: 1% 5%;
    list-style: none;
    font-size: 2.5em;
}

.menu-nav ul li a{
    text-decoration: none;
    color: black;
}

.menu-nav ul li a:hover{
    color: var(--orange);
}

.main-container{
    background: url(img/img1.png);
    background-size: 90%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.main-box{
    position: relative;
    top: 20%; left: 57%;
    width: 40%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.main-box h1{
    color: var(--orange);
    font-size: 8em;
}

.main-box p{
    font-size: 2em;
    text-align:end;
}

.main-box .btn-learn{
    background-color: var(--blue);
    border: none;
    width: 30%;
    margin-left: 20px ;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 2em;
    color: white;
}

button{
    cursor: pointer;
}

.help-container{
    background: var(--blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 5%;
    gap: 50px;
}

.help-container h2{
    color: white;
    font-size: 6em;
}

.container-p{
    font-size: 3em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}

.help-boxs{
    width: 100%;
    display: flex;
    gap: 20px;
}

.help-box{
    border-radius: 10px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.help-box img{
    width: 100px;
    border-radius: 50%;
    padding: 3%;
}

.help-box h3{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: 400;
}

.help-box p{
    font-size: 2em;
}

.blue{
    background: rgb(173, 198, 202);
}

.blue img{
    background-color: white;
}

.white{
    background: white;
}

.white img{
    background-color: var(--blue);
}

.explore-container{
    width: 100%;
}

.explore-box{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.explore-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5%;
    gap: 50px;
}

.explore-left h3{
    font-size: 3.5em;
}

.explore-left h3 span{
    color: var(--blue);
}

.explore-btn{
    background-color: var(--blue);
    border: none;
    width: 40%;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 2.5em;
    color: white;
}

.explore-right{
    width: 50%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-left p{
    font-size: 2.5em;
}

.explore-left .p1{
    font-weight: 300;
}

.explore-left .p2{
    font-weight: 700;
}

.circle{
    display: flex;
    background-color: var(--blue);
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.explore-right ul{
    list-style: none;
    line-height: 50px;
    font-size: 2.5em;
}

.explore-right ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.explore-right ul li i img{
    width: 20px;
}

.guide{
    background: var(--blue);
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.guide img{
    max-width: 60%;
}

.guide-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    color: white;
}

.travel-stor{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.travel-stor h3{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 3em;
}

.travel-stor p{
    font-size: 2em;
} 

.guide-text h2{
    font-size: 7.5em;
    width: 100%;
    color: white;
    text-align: end;
}

.contact{
    min-width: 100%;
    display: flex;
}

.contact-left, .contact-right{
    width: 50%;
    display: flex;
    padding: 5%;
}

.contact-left{
    flex-direction: column;
    gap: 30px;
}

.contact-left h2{
    font-size: 5em;
    color: var(--blue);
}

.contact-left p{
    font-size: 2em;
}

.call-box{
    display: flex;
    gap: 20px;
    text-align: center;
}

.call-box img{
    background: var(--blue);
    width: 100px;
    height: 100px;
    padding: 2%;
    border-radius: 50%;
}

.call-box h3{
    font-size: 3.5em;
    
}

.call-box p{
    color: var(--blue);
    font-weight: 700;
    font-size: 3em;
}


.contact-right img{
    width: 100%;
}

.get{
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    gap: 30px;
}

.get h2{
    font-size: 5em;
    color: white;
}

.get p{
    font-size: 2em;
    color: white;
}

.get-inputs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.get-inputs input{
    width: 25%;
    padding: 0 2%;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 2em;
}

#btn-get{
    background: var(--orange);
    color: white;
}

.headline{
    min-width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.headline img{
    width: 50%;
}

.headline h3{
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 300;
}

.headline h2{
    font-size: 4em;
}

.headline p{
    font-size: 2em;
    text-align: center;
}

.btn-headline{
    background-color: var(--blue);
    border: none;
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    font-size: 2.5em;
    color: white;
}

.percentage{
    background: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 50px;
}

.percentage h2{
    font-size: 5em;
    color: white;
}

.box-percentage{
    display: flex;
    align-items: end;
    gap: 20px;
    padding: 0 5%;
}

.card-percentage{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    border-radius: 20px;
    gap: 20px;
}

.card-percentage p{
    font-size: 2em;
}

.card-percentage h3{
    font-size: 4em;
}

.card1{
    height: 70vh;
}

.card1 h3{
    color: var(--orange);
}

.card2{
    height: 60vh;
}

.card2 h3{
    color: var(--blue);
}

.card3{
    height: 50vh;
}

.card3 h3{
    color: rgb(48, 247, 48);
}

.contactUs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "image form"
    "location phone";
}

.contact-img, .form, .location, .phone{
    padding: 5%;
}

.contact-img{
    grid-area: image;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.contact-img h2{
    font-size: 5em;
}

.circle2{
    color: rgb(158, 207, 207);
    width: 150px;
    height: 150px;
}

.contact-img p{
    font-size: 2em;
}

.form{
    grid-area: form;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.form h3{
    font-size: 3em;
    font-weight: 300;
}

.form p{
    font-size: 2em;
}

.form input{
    height: 2.5em;
    margin: 0;
    font-size: 2em;
    padding: 0 5%;
    border: none;
}

#input-email{
    background: rgb(218, 216, 216);
}

#input-submit{
    background: var(--orange);
    cursor: pointer;
}
.location{
    grid-area: location;
    display: flex;
    align-items: center;
    justify-content: start;
}

.location i img{
    width: 40%;
}

.location-right{
    position: relative;
    right: 40px;
}

.location-right h3{
    font-size: 3em;
}

.location-right p{
    font-size: 2em;
}

.phone{
    grid-area: phone;
    display: flex;
    align-items: center;
}

.phone-box{
    position: relative;
    right: 40px;
}

.phone i img{
    width: 40%;
}

.phone h3{
    font-size: 3em;
}

.phone p{
    font-size: 2em;
}